@import '../../colors.scss';

$header-height: 55px;

header {
    background-color: $white;
    border-top: 4px solid $header-green;
    box-shadow: 0 1px 2px $light-color2;
    height: $header-height;
    padding: 1rem 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;
}

