$autocomplete-active-color: #45516c;
$box-shadow-color: #bbb;
$header-green: #00ae41;
$light-color1: #f5f5f5;
$light-color2: #efefef;
$footer-bg-color: #f5f5f3;
$footer-color: #444545;
$gray1: #eee;
$gray2: #ddd;
$job-details-color: #5E595E;
$job-title-active-color: #004182;
$job-title-color: #272525;
$job-title-link-color: #0a66c2;
$loading-color: #6c77a0;
$posts-title-color: #504949;
$white: #fff;
